:root {
  --dark-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  --dark-grayish-blue: hsl(237, 12%, 33%);
  --grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue))
    fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.img {
  width: 100%;
}

/* Flex-container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: #fff;
  max-width: 900px;
  min-height: 500px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(61, 61, 61, 0.5);
  overflow: hidden;
  margin: auto 1rem;
}

/* grid-left */
.grid-left {
  transform: translateX(-78px);
  position: relative;
}

.pattern {
  position: absolute;
  transform: translateX(-515px) translateY(-370px);
  z-index: -1;
}

.mobile-pattern {
  position: absolute;
  visibility: hidden;
}

.grid-left .hero {
  width: 450px;
}

.hero-2 {
  position: absolute;
  visibility: hidden;
}

.box {
  position: absolute;
  z-index: 2;
  transform: translateX(-448px) translateY(45px);
  transition: all 1.5s;
}

.box:hover {
  transform: translateX(-485px) translateY(48px);
}

/* grid-right */
.grid-right {
  padding-right: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid-right h2 {
  font-size: 2rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}

.faqs {
  position: relative;
}

.faq {
  padding-right: 1rem;
  padding: 1.2rem;
  border-bottom: 1px solid rgba(212, 209, 209, 0.712);
}

.faq:hover {
  cursor: pointer;
}

.faq:hover .flex-qn p {
  color: var(--Soft-red);
}

.flex-qn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-qn p {
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
}

.ans {
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input:hover {
  cursor: pointer;
}

input:hover + .faq .flex-qn p {
  color: var(--Soft-red);
}

input:checked + .faq .flex-qn i {
  transform: rotate(180deg);
}

input:checked + .faq .ans {
  height: auto;
  color: var(--grayish-blue);
  font-size: 0.8rem;
  margin-top: 0.75rem;
}

input:checked + .faq .flex-qn p {
  font-weight: bold;
}

/* Small Screens, Tablets */
@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr;
    min-height: 500px;
    width: 400px;
    margin-top: 10rem;
    transform: translateY(25px);
  }

  .grid-left .hero {
    width: 100px;
    visibility: hidden;
  }

  .hero-2 {
    top: 0;
    visibility: visible;
    transform: translateX(-10px) translateY(78px);
    z-index: 100;
  }

  .grid-left .pattern {
    display: none;
  }

  .mobile-pattern {
    visibility: visible;
    right: 0;
  }

  .box {
    display: none;
  }

  .grid-right {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .grid-right h2 {
    margin-bottom: 0.5 rem;
    text-align: center;
  }
}

/* Smartphones */
@media (max-width: 500px) {
  .grid-container {
    width: 325px;
  }

  .mobile-pattern {
    transform: translateX(40px);
  }
}

/* Smaller phones */
@media (max-width: 320px) {
  .mobile-pattern {
    transform: translateX(55px);
  }
}
